
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    margin: 0;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.027rem;
    font-weight: normal;
}

h2 {
    font-size: 1.802rem;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1.266rem;
    font-weight: bold;
}

/* Header */
header {
    padding: 1rem 0;
}

.logo-nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0 auto;
  padding: 0 auto; 
}

header a {
    font-size: 2rem;
    text-decoration: none;
}

/* Hero */
.hero {
    display: grid;
}

.hero-intro

/* Intro */
#intro {
    display: grid;
    padding: 1.5rem;
}
.call-out {
    font-weight: bold;
    margin: 0;
}
.new-flavours {
    margin: 0;
}

.limited-edition a:link,
.limited-edition a:visited {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: 2px solid #000;
    border-radius: 2px;

    margin: auto;
}

.limited-edition a:hover,
.limited-edition a:focus {
    background-color: #fff;
    color: #000;
}

.button {
    font-size: smaller;
}

/* History */
#history {
    display: grid;
    background-color: #f8fafc;
    padding: 1.5rem;
}

/* Testimonials */
.testimonials {
    display: grid;
    background-color: #000;
    color: #fff;
    padding: 1.5rem;
}

.paragraphs {
    display: grid;
}

.quotes {
    display: grid;
}

/* Flavours */
#flavours {
    display: grid;
    padding: 1.5rem;
}

.flavours-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.flavours-list h3 {
    text-align: center;
}

.flavours-list p {
    text-align: center;
}


/* Footer */
footer {
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 0.5rem;
}


/* Media Queries */
@media (min-width: 768px){
.hero {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.paragraphs {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.quotes {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
}




@media (min-width: 960px){
.hero {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
}

.product-one {
    grid-column: 1/2;
    grid-row: 1/2;
}

.product-two {
    grid-column: 2/3;
    grid-row: 1/2;
}

.product-three {
    grid-column: 1/2;
    grid-row: 2/3;
}

.product-four {
    grid-column: 2/3;
    grid-row: 2/3;
}

}